<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <form class="form-signin" [formGroup]="loginForm" (submit)="loginUser($event)">
          <div class="text-center mb-4">
            <img class="mb-4" src="../../../assets/img/logo.png" alt="" width="200" height="200">
            
          </div>
          <h2 class="h3 mb-3 font-weight-normal">Login System</h2>
          <div class="alert alert-danger" role="alert" *ngIf="message">{{message}}</div>
          
          <div class="form-label-group" [ngClass]="{ 'has-error': submitted && f.username.errors }">
            <input id="username" [(ngModel)]="username" name="username" type="text" formControlName="username" class="form-control" placeholder="Username" required="" autofocus="">
          </div>
          <br>
          <div class="form-label-group" [ngClass]="{ 'has-error': submitted && f.password.errors }">
            <input id="password" [(ngModel)]='password' name="password" type="password" formControlName="password" class="form-control" placeholder="Password" required="">
          </div>
        
          <br>
          <button class="btn btn-sm btn-primary btn-block" [disabled]="!password || !username" type="submit">Login</button>
          
        </form>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="mt-5 mb-3 text-muted text-center">Copyright © 2018 - Tim IT Development CBI</p>
  </div>
</footer>